<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
   <div class="container">
   {{ a }}
      <div class="row">
         <div class="col-md-12 text-center">
            <h2>Current temperature</h2>
         </div>
      </div>
      <div class="row justify-content-md-center">
         <div class="col-md-6">
            <a href='./' class="btn btn-block btn-outline-success">Refresh data</a>
         </div>
      </div>
      <div class="row justify-content-md-center">
         <div class="col-md-8">
            <img src="static/test.png" style="max-width: 100%">
         </div>
      </div>
      <div class="row">
         <div class="col-md-12 text-center">
            <h2>Recording</h2>	 
	</div>
      </div>
      <div class="row">
         <div class="col-md-12 text-center">
            <form class="form-row" method="POST" action='./'>
               {{ form.csrf_token }}
               {% for field in form %}{% if not field.id == 'csrf_token' %}
                  <div class="col-md-2">
                     {{ field }}
                  </div>
               {% endif %}{% endfor %}
               <div class="col-md-2">
                  <button class="btn btn-success btn-block" type="submit">Record</button>
               </div>
            </form>
         </div>
      </div>
      {% if wavefile %}
      <div class="row">
         <div class="col-md-12">
            <audio controls>
               <source src='{{ wavefile }}' type='audio/wav'>
            </audio>
         </div>
      </div>
      {% endif %}
      <div class="row justify-content-md-center">
         <div class="col-md-8">
            <img src="static/audioplot.png" style="max-width: 100%">
         </div>
      </div>
   </div>
</body>
</html>
